## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN1=PA1,FAN0=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## can0
[mcu can0]
canbus_uuid: 1c52c1479fc8# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

## can0
[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: can0


[fan]
##  Print Cooling Fan - FAN0
pin: can0:FAN1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

#####################################################################
#   Extruder
#####################################################################


[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
##the current stepper is an LDO-36STH20-1004AHG(XH) 
##Rated current: 1.0 A per phase (RMS)
##Phase resistance: approximately 2.1 Ω
##Holding torque: approximately 95–100 mN·m
##High-temperature rated (up to 180 °C)
###----###----###
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
#rotation_distance: 22.97239724 #finetuned distance with SB by TadasM.
rotation_distance: 5.7
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
#gear_ratio: 50:17               #BMG Gear Ratio
#gear_ratio: 50:10 #removed gearing that was made for SB by TadasM.
microsteps: 16 #changed for LGX extruder from 32 that was set to SB by TadasM.
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.600   #blue tool heads .6 - gray tool heads .4
filament_diameter: 1.75
heater_pin: can0:HE0
sensor_pin: can0:TH0
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors  
#sensor_type: PT1000 #Original hot end
#sensor_type: ATC Semitec 104NT-4-R025H42G # TZ E3D shape hot end.
sensor_type: Generic 3950 #Kobra 3 thermistor on Bambu hot end.
min_temp: 10
max_temp: 310
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 101.0
max_extrude_only_velocity: 400
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.045  #using orca slicer with polymaker gray asa and .4 noz at 270
#pressure_advance: 0.015  #using orca slicer with polymaker glitter ASA and .6 noz at 260
pressure_advance: 0.029  #using orca slicer with polymaker natural ASA and .6 noz at 275
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.04

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: can0:EXT_UART
run_current: 0.80 #Was .50  changed 2026-05-21
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 0

## loosen up heater tollerances
[verify_heater extruder]
max_error: 180
check_gain_time: 40
heating_gain: 1.5



## ADXL345 ------------------------  commented out - using cartographer

#[adxl345]
#cs_pin: can0:ADXL_CS
#spi_software_sclk_pin: can0:ADXL_SCLK
#spi_software_mosi_pin: can0:ADXL_MOSI
#spi_software_miso_pin: can0:ADXL_MISO
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    125,125,20  # an example for a 350mm printer


#----------------------------------------------
## RGB
#[neopixel my_neopixel]
#pin: can0:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: can0:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430



