#https://github.com/FYSETC/Nozzle-Input-Shaper
# FYSETC as usual dissapoints. To flash the latest klipper, the instructions are ok untill the end.
# Use the dfu-util command instead.  0483:df11 is the example usb device. 
# sudo dfu-util -d ,0483:df11 -R -a 0 -s 0x8000000:leave -D out/klipper.bin


[mcu NIS]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0D0032000843565036343620-if00

[adxl345]
cs_pin: NIS:PA4
spi_software_sclk_pin: NIS:PA5
spi_software_mosi_pin: NIS:PA7
spi_software_miso_pin: NIS:PA6

[resonance_tester]
accel_chip: adxl345
probe_points:
    125,125,30 # an example - set this to the centre of your BED.

###----------------